<apex:page standardController="Account" recordSetVar="items" >
    <apex:form >
    <apex:selectList value="{!filterid}" size="1">
        <apex:selectOptions value="{!ListViewOptions}"/>
        <apex:actionSupport event="onchange" reRender="one"/>
        </apex:selectList><br/><br/>
        <apex:pageBlock title="Account" id="one">
        <apex:pageBlockTable value="{!items}" var="a">
            <apex:column >
                <apex:facet name="header"><apex:inputCheckBox /></apex:facet>
                <apex:inputCheckBox />
            </apex:column> 
            <apex:column headerValue="Action">
            <apex:commandLink action="{!URLFOR($Action.Account.Edit,a.id)}">
                <font style="color:#2ECCFA">Edit</font>
                </apex:commandLink>
                &nbsp;
                <font style="color:red;width:5px">|</font>&nbsp;
                 <apex:commandLink action="{URLFOR($Action.Account.delete,a.id)}">
                <font style="color:#2ECCFA">del</font>
               </apex:commandLink> 
            </apex:column>
            <apex:column headerValue="Account name">
                <apex:commandLink value="{!a.name}" action="/apex/{!a.id}"/>
            </apex:column>
            <apex:column value="{!a.industry}"/>
            <apex:column value="{!a.phone}"/>
            <apex:column value="{!a.type}"/>
            
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>