<apex:page standardController="QuoteLine__c" extensions="AddSubProducts">
    <apex:slds /> 
<div class="slds-scope">
<apex:form >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $("input:checkbox").click(function() {
                    
                    
                    var decision = $(this).prop("checked")
                    var group = "input:checkbox[class='" + $(this).attr("class") + "']";
                    var n = group.indexOf("Common");
                    if (n >= 0) {} else {
                        if (decision) {
                            $(group).prop("checked", false);
                            $(this).prop("checked", true);
                        }
                    }
                });

            });
        </script>
        
    
        <apex:pageMessages />
        
        <apex:pageBlock mode="Edit">
        <div style="text-align:right;">

            <apex:pageBlockButtons >
                <apex:inputText id="txtSearch" value="{!searchString}" />
                <apex:commandButton value="Search" action="{!search}"  styleClass="slds-button slds-button_success" rerender="searchresults,searchresults1,searchresults2"/>
                <apex:commandButton value="ADD FEATURES" action="{!Csave}" styleClass="slds-button slds-button_success"/>
                <apex:commandButton value="CANCEL" action="{!Cancel}" styleClass="slds-button slds-button_destructive"/>
            </apex:pageBlockButtons>
            
            </div> 
             
            
            <apex:pageBlock title="All Features">
                <apex:pageBlockTable value="{!pitem}" var="pi" id="searchresults" title="All" >
                    <apex:column headerValue="Select" headerClass="slds-text-title--caps">
                        <apex:inputField value="{!pi.Applicable__c}" />
                    </apex:column>
                    
                     <apex:column headerValue="Feature " headerClass="slds-text-title--caps">
                        <apex:inputField value="{!pi.Name}" />
                    </apex:column>    
                  <apex:column headerValue="Product" headerClass="slds-text-title--caps">
                        <apex:inputField value="{!pi.CProduct__r.name}" />
                    </apex:column>
                    
                    
                    
                                        
            </apex:pageBlockTable>
                </apex:pageBlock>
               </apex:pageBlock>
            <!--</apex:pageBlockSection>--->
       
  
    </apex:form>
    
    </div>
</apex:page>