<apex:page controller="aggr" contentType="vnd.ms-excel#repot.xl">
    <apex:pageBlock >
    <apex:pageBlockTable value="{!reportList}" var="a">
        <apex:column value="{!a.stagename}" headerValue="stagename"/>
        <apex:column value="{!a.Amount}" headerValue="amount"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>