<apex:page controller="pageBlock">
    <apex:form >
    <apex:pageBlock >
        <apex:dataTable value="{!accs}" var="a">
            <apex:column value="{!a.name}"/>
            <apex:column value="{!a.phone}"/>
        </apex:dataTable>
       </apex:pageBlock>
    </apex:form>
</apex:page>