<apex:page controller="ArrayEx">
    <apex:form >
        <apex:commandButton value="click" action="{!show}" rendered="false"/>
        <apex:pageBlock title="ArrayExample">
        <apex:pageBlockTable value="{!ages}" var="a">
            <apex:column value="{!a}"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
        <apex:pageBlock title="Acount">
        <apex:pageBlockTable value="{!accs}" var="a">
            <apex:column value="{!a.name}"/>
            <apex:column value="{!a.industry}"/>
            <apex:column value="{!a.phone}"/>
            </apex:pageBlockTable>        
        </apex:pageBlock>
    <apex:pageBlock id="one" rendered="{! !ISNULL(cons)}">
        <apex:pageBlockTable value="{!cons}" var="a">
        
            <apex:column value="{!a.lastname}"/>
            <apex:column value="{!a.phone}"/>
        </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
    
</apex:page>