<apex:page action="{!attachPDF}" extensions="AttachmentGenerator" standardController="Account">
<!--
	Created by: Greg Hacic
	Last Update: 7 August 2015 by Greg Hacic
	Questions?: greg@interactiveties.com
	
	Notes:
		- Visualforce page for creating a PDF file and attaching to Account
-->
	<apex:pageMessages ></apex:pageMessages><!-- included for display of errors should they occur -->
	<apex:detail inlineEdit="true" relatedList="true"></apex:detail> <!-- included so Account detail information is visible when errors occur -->
</apex:page>