<apex:page controller="childparent">
    <apex:pageBlock title="contact to account">
    <apex:pageBlockTable value="{!cons}" var="a">
        <apex:column value="{!a.lastname}"/>
        <apex:column value="{!a.phone}"/>
        <apex:column value="{!a.Account.name}"/>
        <apex:column value="{!a.Account.industry}"/>
        
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>