<apex:page standardController="Patient__c" extensions="HRecordType">
    <apex:form id="theForm">
        <apex:pageBlock >
            <apex:pageBlockButtons >
                <apex:commandButton value="submit" action="{!newpage}"  />
            </apex:pageBlockButtons>
            <apex:messages />
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Record Types" />
                    <apex:selectList value="{!selected}" size="1">
                        <apex:selectOptions value="{!RecordTypes}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem> 
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>