<apex:page standardController="Patient__c" sidebar="false">
  <apex:form >
  <apex:pageBlock title="Doctor details">
  <apex:pageBlockSection columns="1">
  <apex:inputField value="{!Patient__c.Name}"/>
  <apex:inputField value="{!Patient__c.Treatment__c}"/>
   <apex:inputField value="{!Patient__c.Doctor_Name__c}"/>
   <apex:inputField value="{!Patient__c.Age__c}"/>
   <apex:inputField value="{!Patient__c.DateTime_of_Admit__c}"/>
   <apex:inputField value="{!Patient__c.Bed_No__c}"/>
   <apex:inputField value="{!Patient__c.Disease_Name__c}"/>
   <apex:inputField value="{!Patient__c.Gender__c}"/>
   <apex:inputField value="{!Patient__c.Guardian__c}"/>
   <apex:inputField value="{!Patient__c.Patient_Bill__c}"/>
   <apex:inputField value="{!Patient__c.Patient_Type__c}"/>
   <apex:inputField value="{!Patient__c.Register_No__c}"/>
   <apex:inputField value="{!Patient__c.Registration_Fee__c}"/>
  </apex:pageBlockSection>
  <apex:pageBlockButtons location="bottom">
  <apex:commandButton value="save"/>
  <apex:commandButton value="cancel"/>
  </apex:pageBlockButtons>
  </apex:pageBlock>
  </apex:form>
</apex:page>