<apex:page standardController="Patient_Bill__c" sidebar="false">
  <apex:form >
  <apex:pageBlock title="PatientBills details">
  <apex:pageBlockSection columns="1">
  <apex:inputField value="{!Patient_Bill__c.Name}"/>
  <apex:inputField value="{!Patient_Bill__c.Bed__c}"/>
   <apex:inputField value="{!Patient_Bill__c.Bed_Charges__c}"/>
   <apex:inputField value="{!Patient_Bill__c.Surgery_Charge__c}"/>
   <apex:inputField value="{!Patient_Bill__c.Test_Amount__c}"/>
 <apex:inputField value="{!Patient_Bill__c.Total_Bill__c}"/>
   </apex:pageBlockSection>
  <apex:pageBlockButtons location="bottom">
  <apex:commandButton value="save"/>
  <apex:commandButton value="cancel"/>
  </apex:pageBlockButtons>
  </apex:pageBlock>
  </apex:form>
</apex:page>