<apex:page standardController="MyQuote__c" extensions="QLI_Products" lightningStylesheets="true" showHeader="false" sidebar="false">
   <apex:slds />
   <div >
    <apex:form >
     <apex:pageblock title="">
       <apex:pageblockButtons location="bottom" >
          <apex:commandButton action="{!save}" value="Save"/>
          <apex:commandButton action="{!cancel}" value="Cancel"/>
       </apex:pageblockButtons>
          <div style="width:700px;">
          <apex:pageblockTable value="{!Md}" var="c" id="table">
           
             <apex:column headerValue="Product Name">
               <apex:inputField value="{!c.CProduct__c}"> 
                   <apex:actionSupport event="onselect" reRender="table" action="{!autoprice}"/>
               </apex:inputField>
             </apex:column>
              <apex:column headerValue="Company Name">
                 <apex:inputField value="{!c.Company_Name__c}"/> 
             </apex:column>
              <apex:column headerValue="Unit Price">
                 <apex:inputField value="{!c.Unit_Price__c}"/> 
             </apex:column>
             
             
              
         </apex:pageblockTable>
     </div>


     <apex:pageblockButtons location="bottom">
        <div style="text-align:right;margin-right:30px;font-weight:bold;"> 
        <apex:commandLink value="Add Row" action="{!addRow}" rerender="table" immediate="true" /> 
          &nbsp;|&nbsp;&nbsp; 
        <apex:commandLink value="Remove Row" action="{!removeRow}" rerender="table" immediate="true" />
          </div> '
      </apex:pageblockButtons>
</apex:pageblock>
</apex:form>
</div>
</apex:page>