<apex:page standardController="Account" extensions="controller" action="{!getdata}" recordSetVar="items">
        <apex:pageBlock title="Accounts">
    	<apex:pageBlockTable value="{!accs}" var="a">
            <apex:column value="{!a.name}"/>
            <apex:column value="{!a.industry}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>

</apex:page>