<apex:page sidebar="false" showHeader="false">
    <apex:form >
        <apex:pageBlock >
        <apex:pageBlockSection title="Sireesha Myla" >
    <apex:image value="{!$Resource.s3}" height="400" width="400"/>
            <font size="8px" color="green">Many many happy returns of the day abbay , pandi , dashuu...miss you forever..Sree<br/><br/><br/>Siree...</font>
   </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:form>
</apex:page>