<apex:page id="page" >
 <script>
    function show(){
        var myname=document.getElementById('page:fm:pb:pbs:pbsi1:name').value;
        document.getElementById('page:fm:pb:pbs:pbsi2:myname').innerHTML=myname;
        document.getElementById('page:fm:pb:bps:pbsi3:htmlname').innerHTML='<font style="color:red"/>';
        document.getElementById('page:fm:pb:pbs:pbsi4:text').value=myname;
        }
 </script>
<apex:form id="fm">
 <apex:pageBlock id="pb">
    <apex:pageBlockSection id="pbs">
     <apex:pageBlockSectionItem id="pbsi1">
         <apex:outputLabel value="enter name"/>
         <apex:inputText id="name" onchange="show()"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="pbsi2">
            <apex:outputText value="enter name"/>
            <apex:outputText id="myname"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="pbsi3">
            <apex:outputLabel value="InnerHtml name"/>
            <apex:outputLabel id="htmlname"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="pbsi4">
            <apex:outputText value="inputText"/>
            <apex:inputText id="text"/>
        </apex:pageBlockSectionItem>
     </apex:pageBlockSection>
    </apex:pageBlock>   
    </apex:form>
</apex:page>