<apex:page standardController="Test_Report__c" sidebar="false">
  <apex:form >
  <apex:pageBlock title="Doctor details">
  <apex:pageBlockSection columns="1">
  <apex:inputField value="{!Test_Report__c.Name}"/>
  <apex:inputField value="{!Test_Report__c.Blood_Group__c}"/>
   <apex:inputField value="{!Test_Report__c.DateTime__c}"/>
   <apex:inputField value="{!Test_Report__c.Doctor__c}"/>
   <apex:inputField value="{!Test_Report__c.ECG_test__c}"/>
   <apex:inputField value="{!Test_Report__c.Patient__c}"/>
   <apex:inputField value="{!Test_Report__c.Patient_Bill__c}"/>
   <apex:inputField value="{!Test_Report__c.Scanning_Test__c}"/>
   <apex:inputField value="{!Test_Report__c.Test_Amount__c}"/>
   <apex:inputField value="{!Test_Report__c.Test_Report_ID__c}"/>
   <apex:inputField value="{!Test_Report__c.Xray_Test__c}"/>
   
  </apex:pageBlockSection>
  <apex:pageBlockButtons location="bottom">
  <apex:commandButton value="save"/>
  <apex:commandButton value="cancel"/>
  </apex:pageBlockButtons>
  </apex:pageBlock>
  </apex:form>
</apex:page>