<apex:page controller="examp">
    <apex:form >
    <apex:pageBlock >
        <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
            <apex:outputLabel value="Name"/>
            <apex:outputText value="{!name}"/>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
            <apex:outputLabel value="Age"/>
            <apex:outputText value="{!age}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
       </apex:pageBlock>
    </apex:form>
</apex:page>