<apex:page standardController="Doctor__c" extensions="Dochome" sidebar="false" showHeader="false">
<apex:composition template="HMSMenu">
</apex:composition>
<style type="css/text">
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
</style>
<center>
   <script type="text/javascript">
        var Name, asc1 = 1,
            asc2 = 1,
            asc3 = 1;
        window.onload = function () {
            Name= document.getElementById("Name");
        }
        function sort_table(tbody, col, asc) {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++) {
                    arr[i][j] = cells[j].innerHTML;
                }
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // replace existing rows with new rows created from the sorted array
            for (i = 0; i < rlen; i++) {
                rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
            }
        }
    </script>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: none;
            height:250px;
            margin-top:5em;
            margin-left:15em;
        }
        th,
        td {
            
            padding: 4px 16px;
            font-family: Times New Roman;
            font-size: 15px;
            text-align: left;
        }
        th {
            background-color: #C8C8C8;
            cursor: pointer;
        }
    </style>
<apex:form style="margin-top:-58em;">
<apex:commandButton value="NewDoctor" style="margin-left:5em;" action="{!newdoc}"/>
<apex:inputText style="margin-left:45em;"/>
</apex:form>
    <table>
        <thead>
            <tr>
                <th onclick="sort_table(people, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"><font color="blue">Name</font></th>
                <th onclick="sort_table(people, 1, asc2); asc2 *= -1; asc3 = 1; asc1 = 1;"><font color="blue">Lastname</font></th>
                <th onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;"><font color="blue">Phone</font></th>
                <th onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;"><font color="blue">Email</font></th>
                <th onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;"><font color="blue">Speciality</font></th>
                <th onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;"><font color="blue">Type</font></th>
                <th onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;"><font color="blue">Grade</font></th>
            </tr>
        </thead>
         <apex:repeat value="{!dc3}" var="a" id="Name">
        
           
  <tr>
  <td><apex:outputField value="{!a.name}"/></td>
  <td><apex:outputField value="{!a.Last_Name__c}"/></td>
  <td><apex:outputField value="{!a.Phone__c}"/></td>
  <td><apex:outputField value="{!a.Email__c}"/></td>
  <td><apex:outputField value="{!a.Specialist__c}"/></td>
  <td><apex:outputField value="{!a.Type__c}"/></td>
  <td><apex:outputField value="{!a.Grade__c}"/></td>
  </tr>
 
        
         </apex:repeat>
    </table>
    
  </center>
  
</apex:page>